@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body{
    background-color: #e9e9ea;
}

.encrypt-input{
    background-color: #e9e9ea;
    border: none;
    color: #0A3871;
    display: inline-block;
    font-size: 2rem;
    height: 50vh;
    resize: none;
    width: 100%;
}

.encrypt-btn{
    background: #0A3871;
    border: none;
    border-radius: 2rem;
    color: #FFF;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 400;
    height: 5rem;
    margin: 1rem .5rem;
    transition: all .25s ease-in-out;
    width: 50%;
}

.encrypt-btn:hover{
    background: #0468e3;
    font-weight: 700;
}

.decrypt-btn{
    background-color: #FFF;
    border: none;
    border-radius: 2rem;
    color: #0A3871;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 400;
    height: 5rem;
    margin: 1rem .5rem;
    transition: color .25s ease-in-out;
    width: 50%;
}

.decrypt-btn:hover{
    background-color: #FFF;
    color: #0468e3;
    font-weight: 700;
}

.invisible{
    display: none;
}

.visible{
    display: block;
}

.copy-btn{
    background-color: #FFF;
    border: 1px solid #0A3871;
    border-radius: 2rem;
    color: #0A3871;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 400;
    height: 5rem;
    margin-top: 6rem;
    transition: all .25s ease-in-out;
    width: 100%;
}

.copy-btn:hover{
    background-color: #0468e3;
    border: none;
    color: #FFF;
    font-weight: 700;
}

.encrypt-result-text{
    word-break: break-word;
}

.encrypt-comments-icon{
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #495057;
    border-radius: 50%;
    color: #FFF;
    font-size: 1.5rem;
}

.encrypt-comments-paragraph{
    color: #495057;
    font-size: 1.5rem;
    margin-left: .5rem;
}

.danger{
    background-color: #ff0000;
    transition: all 1s ease-in-out;
}

.dangerText{
    color: #ff0000;
    transition: all 1s ease-in-out;
}

.textCopied{
    background-color: #18b713;
    border: none;
    color: #FFF;
    font-weight: 700;
}

.copy{
    background-color: #18b713;
    border: none;
    border-radius: 2rem;
    color: #FFF;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    height: 5rem;
    margin-top: 6rem;
    transition: all .25s ease-in-out;
    width: 100%;
}

.copy:hover{
    background-color: #18b713;
}

@media screen and (min-width: 1201px) {

    main{
        position: relative;
    }

    header{
        align-items: center;
        display: flex;
        height: 6rem;
    }

    header .logo{
        margin-left: 1rem;
    }

    .encrypt-form{
        display: inline-block;
        margin: 2rem 0;
        height: 45vh;
        padding: 2rem 5rem;
        width: 70%;
    }

    .encrypt-input{
        background-color: #e9e9ea;
        border: none;
        color: #0A3871;
        display: inline-block;
        font-size: 2rem;
        height: 40vh;
        resize: none;
        width: 100%;
    }

    .encrypt-input:focus{
        outline: none;
    }

    .encrypt-input::placeholder{
        color: #0A3871;
        font-size: 2rem;
    }

    .encrypt-comments{
        align-items: center;
        display: flex;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .encrypt-buttons{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .encrypt-result{
        border-radius: 2rem;
        background-color: #FFF;
        display: inline-block;
        margin: 0 .5rem;
        min-height: 90vh;
        padding: 2rem;
        position: absolute;
        top: 3rem;
        width: 25%;
    }

    .encrypt-text{
        font-size: .8rem;
        text-align: center;
        width: 100%;
    }
    
    .encrypt-result-img{
        margin: 6rem auto 2rem auto;
        width: 100%;
    }

    .encrypt-result-text{
        font-size: 1.5rem;
    }
    

}

@media screen and (max-width: 1200px) and (min-width: 1024px) {

    main{
        position: relative;
    }

    header{
        align-items: center;
        display: flex;
        height: 6rem;
        width: 50%;
    }

    header .logo{
        margin-left: .5rem;
    }

    .encrypt-form{
        display: inline-block;
        margin: 2rem 0;
        height: 50vh;
        padding: 2rem 5rem;
        width: 70%;
    }

    .encrypt-input:focus{
        outline: none;
    }

    .encrypt-input::placeholder{
        color: #0A3871;
        font-size: 2rem;
    }

    .encrypt-comments{
        display: flex;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .encrypt-buttons{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .encrypt-result{
        border-radius: 2rem;
        background-color: #FFF;
        display: inline-block;
        margin: 0 .5rem;
        min-height: 70vh;
        padding: 2rem;
        position: absolute;
        top: 6rem;
        width: 25%;
    }

    .encrypt-text{
        font-size: .8rem;
        text-align: center;
        width: 100%;
    }
    
    .encrypt-result-img{
        margin: 6rem auto 2rem auto;
        width: 100%;
    }

    .encrypt-result-text{
        font-size: 2rem;
    }

}

@media screen and (max-width: 1024px) and (min-width: 769px) {

    header{
        align-items: center;
        display: flex;
        height: 6rem;
        width: 100%;
    }

    header .logo{
        margin-left: .5rem;
    }

    .encrypt-form{
        display: inline-block;
        padding: 1rem 2rem;
        width: 100%;
    }

    .encrypt-input{
        height: 30vh;
    }

    .encrypt-input:focus{
        outline: none;
    }

    .encrypt-input::placeholder{
        color: #0A3871;
        font-size: 2rem;
    }

    .encrypt-comments{
        display: flex;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .encrypt-buttons{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .encrypt-result{ 
        background-color: #FFF;
        border-radius: 2rem;
        box-shadow: 0 1.5rem 2rem -.5rem #00000014;
        display: block;
        font-weight: 700;
        margin: 4rem auto;
        padding: 1.5rem;
        text-align: center;
        width: 95%;
    }

    .encrypt-result-title{
        color: #343A40;
        font-size: 2rem;
        margin: 0 auto;
        width: 70%;
    }

    .encrypt-result-paragraph{
        color: #495057;
        font-size: 1.5rem;
        font-weight: 400;
        margin: 1rem auto;
        width: 80%;
    }

    .encrypt-result-img{
        display: none;
    }

    .encrypt-result-text{
        font-size: 2rem;
    }

    .copy-btn{
        font-size: 1.5rem;
        height: 5rem;
        margin: 1.5rem auto;
        width: 50%;
    }

}

@media screen and (max-width: 769px) and (min-width: 480px){

    header{
        align-items: center;
        display: flex;
        height: 3rem;
        width: 100%;
    }

    header .logo{
        height: 2rem;
        width: 2rem;
    }

    .encrypt-form{
        margin: 0 auto;
        width: 90%;
    }

    .encrypt-input{        
        font-size: 1.5rem;
        height: 25vh;
        margin: 2rem auto 1rem auto;
    }

    .encrypt-input:focus{
        outline: none;
    }

    .encrypt-input::placeholder{
        color: #0A3871;
        font-size: 1.5rem;
    }

    .encrypt-btn{
        font-size: 1rem;
    }

    .decrypt-btn{
        font-size: 1rem;
    }

    .encrypt-comments{
        align-items: center;
        display: flex;
        margin-bottom: 1rem;
    }

    .encrypt-comments-icon{
        font-size: 1rem;
        height: 1.5rem;
        width: 1.5rem;
    }

    .encrypt-comments-paragraph{
        font-size: 1rem;
    }

    .encrypt-buttons{
        display: flex;
        justify-content: space-around;
        margin-bottom: 2rem;
    }

    .encrypt-result{
        background-color: #FFF;
        border-radius: 2rem;
        box-shadow: 0 1.5rem 2rem -.5rem #00000014;
        font-weight: 700;
        margin: 0 auto 2.5rem auto;
        padding: 2rem;
        text-align: center;
        width: 90%;
    }

    .encrypt-result-title{
        color: #343A40;
        font-size: 1.5rem;
        margin: 0 auto;
    }

    .encrypt-result-paragraph{
        color: #495057;
        font-size: 1rem;
        font-weight: 400;
        margin: 1rem auto;
    }

    .encrypt-result-img{
        display: none
    }

    .encrypt-result-text{
        font-size: 1.5rem;
    }

    .copy-btn{
        font-size: 1rem;
        height: 4rem;
        margin: 1rem auto;
        width: 60%;
    }

}

@media screen and (max-width: 480px){
    
    header{
        align-items: center;
        display: flex;
        height: 3rem;
        width: 100%;
    }

    header .logo{
        margin-left: .5rem;
        height: 2rem;
        width: 2rem;
    }

    .encrypt-form{
        width: 90%;
        margin: 0 auto;
    }

    .encrypt-input{        
        font-size: 1.5rem;
        height: 30vh;
        margin: 0 auto 2rem auto;
    }

    .encrypt-input:focus{
        outline: none;
    }

    .encrypt-input::placeholder{
        color: #0A3871;
        font-size: 2rem;
        line-height: 3rem;
    }

    .encrypt-comments{
        align-items: center;
        display: flex;
        margin-bottom: 1rem;
    }

    .encrypt-comments-icon{
        font-size: 1rem;
        height: 1.25rem;
        width: 1.25rem;
    }

    .encrypt-comments-paragraph{
        font-size: 1rem;
    }

    .encrypt-btn{
        font-size: 1rem;
        height: 4rem;
        margin-bottom: 1.5rem;
        width: 100%;
    }
    
    .decrypt-btn{
        font-size: 1rem;
        height: 4rem;
        margin-bottom: 2rem;
        width: 100%;        
    }

    .encrypt-result{
        background-color: #FFF;
        border-radius: 2rem;
        box-shadow: 0 1.5rem 2rem -.5rem #00000014;
        font-weight: 700;
        margin: 0 auto 2rem auto;
        padding: 1rem;
        text-align: center;
        width: 85%;
    }

    .encrypt-result-title{
        color: #343A40;
        font-size: 1.5rem;
        margin: 0 auto;
        width: 95%;
    }

    .encrypt-result-paragraph{
        color: #495057;
        font-size: 1rem;
        font-weight: 400;
        margin: 1rem auto;
    }

    .encrypt-result-text{
        font-size: 1.5rem;
    }

    .encrypt-result-img{
        display: none
    }

    .copy-btn{
        font-size: 1rem;
        height: 4rem;
    }
    
}
