@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body{
    background-color: #F3F5FC;
}

.encrypt-btn{
    background: #0A3871;
    border-radius: 24px;
}

.decrypt-btn{
    border: 1px solid #0A3871;
    border-radius: 24px;
}


@media (max-width: 768px){

    header{
        align-items: center;
        display: flex;
        height: 96px;
        width: 100%;
    }

    header .logo{
        margin-left: 10px;
    }

    .encrypt-form{
        width: 90%;
        margin: 0 auto;
    }

    .encrypt-input{        
        background-color: #F3F5FC;
        border: none;
        color: #0A3871;
        font-size: 32px;
        height: 48px;
        margin: 56px auto 250px auto;
        width: 100%;
    }

    .encrypt-input:focus{
        outline: none;
    }

    .encrypt-input::placeholder{
        color: #0A3871;
        font-size: 32px;
        line-height: 48px;
    }
    

    .encrypt-comments{
        display: flex;
        margin-bottom: 16px;
    }

    .encrypt-comments img{
        margin-right: 8px;
    }

    .encrypt-comments p{
        color: #495057
    }

    .encrypt-btn{
        border: none;
        color: #FFF;
        display: inline-block;
        font-size: 16px;
        font-weight: 400;
        height: 67px;
        margin: 0 12px 64px 40px;
        width: 40%;
    }
    
    .decrypt-btn{
        background-color: #FFF;
        border: 1px solid #0A3871;
        color: #0A3871;
        display: inline-block;
        font-size: 16px;
        font-weight: 400;
        height: 67px;
        margin: 0 12px 64px 40px;
        width: 40%;        
    }

    .encrypt-result{
        background-color: #FFF;
        border-radius: 32px;
        box-shadow: 0px 24px 32px -8px #00000014;
        font-weight: 700;
        margin: 0 auto 40px auto;
        padding: 32px;
        text-align: center;
        width: 85%;
    }

    .encrypt-result-title{
        color: #343A40;
        font-size: 24px;
        margin: 0 auto;
    }

    .encrypt-result-paragraph{
        color: #495057;
        font-size: 16px;
        font-weight: 400;
        margin: 16px auto;
    }


}

@media (max-width: 375px){
    
    header{
        align-items: center;
        display: flex;
        height: 96px;
        width: 100%;
    }

    header .logo{
        margin-left: 10px;
    }

    .encrypt-form{
        width: 90%;
        margin: 0 auto;
    }

    .encrypt-input{        
        background-color: #F3F5FC;
        border: none;
        color: #0A3871;
        font-size: 32px;
        height: 48px;
        margin: 56px auto 250px auto;
        width: 100%;
    }

    .encrypt-input:focus{
        outline: none;
    }

    .encrypt-input::placeholder{
        color: #0A3871;
        font-size: 32px;
        line-height: 48px;
    }
    

    .encrypt-comments{
        display: flex;
        margin-bottom: 16px;
    }

    .encrypt-comments img{
        margin-right: 8px;
    }

    .encrypt-comments p{
        color: #495057
    }

    .encrypt-btn{
        border: none;
        color: #FFF;
        display: inline-block;
        font-size: 16px;
        font-weight: 400;
        height: 67px;
        margin-bottom: 24px;
        width: 100%;
    }
    
    .decrypt-btn{
        background-color: #FFF;
        border: 1px solid #0A3871;
        color: #0A3871;
        display: inline-block;
        font-size: 16px;
        font-weight: 400;
        height: 67px;
        margin-bottom: 64px;
        width: 100%;        
    }

    .encrypt-result{
        background-color: #FFF;
        border-radius: 32px;
        box-shadow: 0px 24px 32px -8px #00000014;
        font-weight: 700;
        margin: 0 auto 40px auto;
        padding: 32px;
        text-align: center;
        width: 85%;
    }

    .encrypt-result-title{
        color: #343A40;
        font-size: 24px;
        margin: 0 auto;
        width: 263px;
    }

    .encrypt-result-paragraph{
        color: #495057;
        font-size: 16px;
        font-weight: 400;
        margin: 16px auto;
    }
}
